/**
 ** To use in a higher level component:
 ** require('{{config.path}}/{{cmpName}}/{{cmpName}}.js');
 **/

require('./_{{cmpName}}.scss');

angular.module('{{config.namespace}}.{{cmpNameCamel}}', [
])

.component('{{cmpNameCamel}}', {
    bindings: {
    },
    template: require('./{{cmpName}}.component.html'),
    controller: {{cmpNameCapital}}Ctrl,
});

function {{cmpNameCapital}}Ctrl() {
    var self = this;
}
